// common
@import "_style";
@import "_layout";


/* =====================
  common styles
===================== */

a {
    @include hover;
}

/* iOSでのデフォルトスタイルをリセット */
input[type="submit"],
input[type="button"] {
    border-radius: 0;
    appearance: button;
    border: none;
    box-sizing: border-box;
    &::-webkit-search-decoration {
        display: none;
    }
    &::focus {
        outline-offset: -2px;
    }
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

#loading {
    width: 100px;
    .wave {
      animation: moveTheWave 4000ms linear infinite;
      stroke-dasharray: 0;
    }
}
@keyframes moveTheWave {

  0% {
    stroke-dashoffset: 0;
    transform: translate3d(130px, 0, 0);
  }

  100% {
    stroke-dashoffset: 0;
    transform: translate3d(-40%, 0, 0);
  }

}


.global-header {
    .logo {
        text-align: center;
        margin: 15px auto 20px;
        max-width: 300px;
        height: auto;
        @media screen and (max-width: ($md - 1)) {
            max-width: 60%;
        }
        a {
            display: block;
        }
    }
    .global-nav {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 10000;
        .draw_nav {
            .drawer-hamburger {
                position: fixed;
                width: 4rem;
                padding: 20px 1em 30px;
                @media screen and (max-width: ($sm - 1)) {
                    width: 3.5rem;
                    padding: 15px 1em 25px;
                }
            }
            .menu_sign {
                position: absolute;
                right: 50px;
                top: 5px;
                @include font(20);
                @media screen and (max-width: ($sm - 1)) {
                    top: 7px;
                    right: 45px;
                }
            }
            .drawer-nav {
                width: 26rem;
                height: auto;
                padding: 3px 0 15px;
            }
        }
        .drawer-menu {
            & > li {
                color: #fff;
                @include font(17);
                letter-spacing: 1px;
                font-weight: 100;
                position: relative;
                @media screen and (max-width: ($sm - 1)) {
                    font-weight: normal;
                }
                a {
                    color: #fff;
                    text-decoration: none;
                    padding: 10px 15px;
                }
            }
            .sns-btn {
                text-align: left;
                font-size:0;
                padding-left: 10px;
                a {
                    display: inline-flex;
                    color: #fff;
                    @include font(30);
                    text-decoration: none;
                    margin: 0px 10px;
                    padding: 10px 0;
                    i {
                        vertical-align: middle;
                    }
                }
            }
            .nav-main {
                &:not(:first-child) {
                    border-top: solid 1px #efefef;
                }
                a {
                    display: block;
                    position: relative;
                    &:after {
                        position: absolute;
                        content: "";
                        background-image: url(/assets/img/common/nav_right_arrow01.png);
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        width: 20px;
                        height: 20px;
                        top: 50%;
                        right: 10px;
                        margin-top: -10px;
                    }
                }
            }
            .nav-dropdown {
                @include font(15);
                margin-left: 15px;
                font-weight: lighter;
                border-top: dashed 1px #6c6b6b;
                @media screen and (max-width: ($sm - 1)) {
                    font-weight: normal;
                }
                & > a {
                    display: block;
                    position: relative;
                    padding-left: 1.2em;
                    &:after {
                        position: absolute;
                        content: "";
                        background-image: url(/assets/img/common/nav_right_arrow02.png);
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        width: 20px;
                        height: 20px;
                        top: 50%;
                        right: 10px;
                        margin-top: -10px;
                        transition: all .2s ease;
                    }
                }
                .drawer-dropdown-menu {
                    transition: all .2s ease;
                    li {
                        background-color: #000;
                        @include font(14);
                        font-weight: lighter;
                        border-top: dashed 1px #6c6b6b;
                        @media screen and (max-width: ($sm - 1)) {
                            font-weight: normal;
                        }
                        a {
                            display: block;
                            padding: 5px 2.5em;
                        }
                    }
                }
                &.open {
                    & > a {
                        &:after {
                            -webkit-transform: rotate(90deg);
                            transform: rotate(90deg);
                            transition: all .2s ease;
                        }
                    }
                    .drawer-dropdown-menu {
                        display: block;
                    }
                }
                &.ddm-last {
                    border-bottom: dashed 1px #6c6b6b;
                }
            }
            .inquiry {
                text-align: center;
                margin: 0 15px 10px;
                padding: 25px 0 20px;
                border-bottom: solid 1px #6c6b6b;
                @include font(17);
                font-weight: lighter;
                letter-spacing: 1px;
                @media screen and (max-width: ($sm - 1)) {
                    font-weight: normal;
                }
                a {
                    background-color: #729f8d;
                    display: inline-block;
                    padding: 5px 15px;
                    i {
                        font-size: 1.1em;
                        margin: 5px;
                    }
                }
            }
            .sub {
                @include font(13);
                font-weight: lighter;
                @media screen and (max-width: ($sm - 1)) {
                    font-weight: normal;
                }
                a {
                    display: block;
                    padding: 0 15px 5px;
                }
            }
            .translate {
                padding: 0 15px;
                >div {
                    display: inline-block;
                    a {
                        padding: 2px 5px;
                        @include font(12);
                        border: 1px solid white;
                    }
                }
            }
        }
        .drawer-hamburger-icon, .drawer-hamburger-icon:after, .drawer-hamburger-icon:before {
            height: 2.5px;
        }
        .drawer-hamburger-icon:after, .drawer-hamburger-icon:before {
            top: -12px;
        }
        .drawer-hamburger-icon:after {
            top: 12px;
        }
    }
}
.drawer--right .drawer-nav {
    right: -26rem !important;
}
.drawer--right.drawer-open {
    .drawer-nav {
        right: 0 !important;
    }
    .draw_nav button {
        background-color: #fff;
        right: 26rem;
    }
    .drawer-hamburger-icon, .drawer-hamburger-icon:after, .drawer-hamburger-icon:before {
        height: 2.5px;
    }
    .drawer-hamburger-icon:after, .drawer-hamburger-icon:before, .drawer-hamburger-icon:after {
        top: 0;
    }
    .drawer-nav {
        background-color: #000;
    }
}

.breadcrumb {
    ul {
        list-style: none;
        font-size: 0;
        margin-bottom: 10px;
        padding: 0;
        li {
            @include font(11);
            display: inline-block;
            position: relative;
            &:not(:first-child) {
                padding-left: 1.5em;
                &:before {
                    position: absolute;
                    content: "＞";
                    top: 0;
                    left: .25em;
                }
            }
            a {
                color: #000;
                text-decoration: none;
            }
        }
    }
}

.share {
    ul {
        width: 100%;
        display: table;
        table-layout: fixed;
        margin: 0;
        padding: 0;
        li {
            display: table-cell;
            text-align: center;
            a, .btn {
                padding: 10px 0;
                display: block;
                color: white;
                -webkit-transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
                cursor: pointer;
                text-decoration: none;
                @include hover;
                @media screen and (max-width: ($sm - 1)) {
                    padding: 5px 0;
                }
                i {
                    font-size: 2.1em;
                    vertical-align: middle;
                }
                .count {
                    padding: 0px 3px;
                    margin-left: .625em;
                    font-size: 1.25em;
                    font-weight: bold;
                    vertical-align: middle;
                }
                .ttl {
                    padding-left: .625em;
                    font-size: 1.125em;
                    vertical-align: middle;
                    @media screen and (max-width: ($sm - 1)) {
                        display: block;
                        margin-top: 2px;
                        padding-left: 0;
                        font-size: 1.125em;
                    }
                }
            }
            &.facebook a {
                background-color: #315096;
            }
            &.twitter a {
                background-color: #55acee;
            }
            &.line a {
                background-color: #00c300;
            }
            &.copy a, &.copy .btn {
                background-color: #333;
            }
        }
    }
    .status {
        display: none;
        position: fixed;
        z-index: 10000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: rgba(0,0,0,0.6);
        .message {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            font-size: 2.5em;
            color: white;
        }
    }
}

/*　　　ツアー一覧
-------------------------------------*/
.tour-list {
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: ($lg - 1)) {
        justify-content: space-between;
    }
    @media screen and (max-width: ($md - 1)) {
        display: block;
    }
    .tour-item {
        position: relative;
        text-decoration: none;
        .tour-img {
            display: block;
            width: 100%;
            height: 0;
            padding-bottom: 66.5%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            // @media screen and (max-width: ($md - 1)) {
            //     width: 120px;
            //     padding-bottom: 120px
            // }
        }
        .tour-desc {
            width: 100%;
            margin-top: 25px;
            @media screen and (max-width: ($lg - 1)) {
                margin-top: 15px;
            }
            @media screen and (max-width: ($md - 1)) {
                margin-top: 10px;
            }
            .sub-ttl {
                @include font(15);
                color: $color_base;
                letter-spacing: 0.05em;
                line-height: 2.0;
                margin: 0 0 0.5em;
                @media screen and (max-width: ($lg - 1)) {
                    margin-bottom: 0.25em;
                }
            }
            h4 {
                @include font(22);
                color: $color_text;
                letter-spacing: 0.05em;
                line-height: 1.6;
                margin: 0;
                padding: 0;
                @media screen and (max-width: ($md - 1)) {
                    @include font(20);
                    letter-spacing: 0.03em;
                }
            }
            .overview {
                background-color: #F2F2F2;
                margin-top: 15px;
                padding: 15px;
                dl {
                    display: flex;
                    margin: 0;
                    padding: 0;
                    dt, dd {
                        flex: 0 1 auto;
                        @include font(15);
                        color: $color_text;
                        line-height: 1.8;
                        vertical-align: bottom;
                        margin: 0;
                        padding: 0;
                    }
                    dt {
                        padding-right: 1.0em;
                    }
                    &.cost {
                        .price {
                            @include font(18);
                            line-height: 1.4;
                        }
                    }
                }
            }
        }
    }
    &.list-style-clm2 { //2カラムの場合
        .tour-item {
            display: block;
            width: 46.5%;
            margin-bottom: 50px;
            @media screen and (max-width: ($md - 1)) {
                width: 100%;
            }
            &:not(:nth-child(2n)) {
                margin-right: 7%;
                @media screen and (max-width: ($md - 1)) {
                    margin-right: 0;
                }
            }
        }
    }
    &.list-style-clm3 { //3カラムの場合
        .tour-item {
            display: block;
            width: 31%;
            margin-bottom: 50px;
            @media screen and (max-width: ($lg - 1)) {
                width: 48%;
            }
            @media screen and (max-width: ($md - 1)) {
                width: 100%;
            }
            &:not(:nth-child(3n)) {
                margin-right: 3.5%;
                @media screen and (max-width: ($lg - 1)) {
                    margin-right: 0;
                }
            }
        }
    }
}

.tour-more-btn {
    display: block;
    width: 100%;
    margin-top: 80px;
    @media screen and (max-width: ($lg - 1)) {
        margin-top: 50px;
    }
    a {
        display: block;
        @include font(20);
        color: #ffffff;
        letter-spacing: 0.05em;
        line-height: 1.8;
        text-align: center;
        text-decoration: none;
        background-color: $color_text;
        margin: 0;
        padding: 0.75em 0.5em;
        @media screen and (max-width: ($md - 1)) {
            @include font(18);
        }
        &::after {
            content: "";
            display: inline-block;
            width: 10px;
            height: 10px;
            border-top: solid 2px #ffffff;
            border-right: solid 2px #ffffff;
            transform: rotate(45deg);
            margin-left: 1.5em;
        }
    }
}

.keyword {
    font-size: 0;
    margin: 0;
    padding: 0;
    li {
        @include font(12);
        color: #fff;
        display: inline-block;
        margin: 0 5px 5px 0;
        padding: 0 5px;
        @media screen and (max-width: ($lg - 1)) {
            @include font(15);
        }
        @media screen and (max-width: ($md - 1)) {
            @include font(12);
        }
        &.area {
            background-color: #d49488;
        }
        &.genre {
            background-color: #84b7a3;
        }
    }
}

.pagination {
    padding-bottom: 50px;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: table;
        margin: auto;
        li {
            border: solid 1px #e7e7e7;
            display: table-cell;
            @include font(18);
            a {
                position: relative;
                color: #808080;
                text-decoration: none;
                padding: 0 10px;
                line-height: 30px;
                display: block;
                &:hover {
                    color: #fff;
                    background-color: #949494;
                }
            }
            .current {
                color: #fff;
                background-color: #949494;
                padding: 0 10px;
                line-height: 30px;
                display: block;
            }
            &.prev {
                a {
                    padding: 0 10px 0 35px;
                    &:before{
                        position: absolute;
                        content: "";
                        width: 9px;
                        height: 9px;
                        border: 0px;
                        border-top: solid 1px #808080;
                        border-right: solid 1px #808080;
                        -ms-transform: rotate(225deg);
                        -webkit-transform: rotate(225deg);
                        transform: rotate(225deg);
                        top: 50%;
                        left: 15px;
                        margin-top: -4px;
                    }
                    &:hover {
                        &:before {
                            border-color: #fff;
                        }
                    }
                }
            }
            &.next {
                a {
                    padding: 0 35px 0 10px;
                    &:before{
                        position: absolute;
                        content: "";
                        width: 9px;
                        height: 9px;
                        border: 0px;
                        border-top: solid 1px #808080;
                        border-right: solid 1px #808080;
                        -ms-transform: rotate(45deg);
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                        top: 50%;
                        right: 15px;
                        margin-top: -4px;
                    }
                    &:hover {
                        &:before {
                            border-color: #fff;
                        }
                    }
                }
            }
        }
    }
}


.global-footer {
    padding: 30px 0;
    background: #ededed;
    border-top: solid 1px #dddcdc;
    text-align: center;
    .nav-footer {
        >ul {
            margin: 0 auto 15px;
            padding: 0;
            @media screen and (min-width: $sm) {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
            >li {
                margin: 5px;
                list-style: none;
                @include font(13);
                a {
                    color: #666666;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .copyright {
        @include font(12);
        color: #808080;
        letter-spacing: 1px;
        margin: 5px 0 0;
        @media screen and (max-width: ($sm - 1)) {
            @include font(11);
        }
        a {
            color: #666666;
        }
    }
}

.section-style {
    padding: 50px 0;
    [data-grid-col] {
        @include min-md {
            padding: 15px;
        };
        a {
            @include hover;
        }
    }
    .section-ttl {
        @include font(30);
    }
    .section-txt {
        @include font(20);
        font-weight: 100;
    }
}

.sub-section {
    margin-bottom: 45px;
}

.sub-section-ttl {
    margin-bottom: 15px;
    color: $color_base;
    @include font(18);
    line-height: 140%;
    font-weight: 400;
}

.v-middle {
    [data-grid] {
        justify-content: center;
        align-items: center;
    }
}

.fw-100 {
    font-weight: 100!important;
}
.fw-200 {
    font-weight: 200!important;
}
.fw-300 {
    font-weight: 300!important;
}
.fw-400 {
    font-weight: 400!important;
}
.fw-500 {
    font-weight: 500!important;
}
.fw-700 {
    font-weight: 700!important;
}
.fw-900 {
    font-weight: 900!important;
}

.mt-0 {
    margin-top: 0!important;
}
.mb-0 {
    margin-bottom: 0!important;
}

/* =====================
  searchBox
===================== */
.searchBox {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 380px;
    transform: translateY(-50%);
    z-index: 10;
    @media screen and (max-width: ($lg - 1)) {
        position: relative;
        top: initial;
        left: initial;
        width: 100%;
        margin: -100px auto 0;
        padding: 60px 0 60px;
        background: rgb(102,102,102);
        background: linear-gradient(180deg, rgba(102,102,102,0) 0%, rgba(102,102,102,0.49734042553191493) 3%, rgba(102,102,102,0.800531914893617) 10%, rgba(102,102,102,1) 50%);
        transform: translateY(0);
    }
    >.inner {
        width: 100%;
        padding: 20px 25px;
        background-color: #fff;
        @media screen and (max-width: ($lg - 1)) {
            width: 80%;
            margin: 0 auto;
        }
        @media screen and (max-width: ($md - 1)) {
            width: 90%;
        }
    }
    p,button,input {
        @include font(16);
        color: $color_text;
    }
    .searchBox-caption {
        margin-bottom: 1em;
        @include font(16);
        text-align: center;
        color: #007589;
    }
    .searchBox-inner {
        .search-flex {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            p {
                width: 6em;
                margin: 0;
                padding: 0;
            }
            button,input {
                position: relative;
                width: calc(100% - 6em);
                padding: 10px 2em 10px 1em;
                text-align: left;
                border: solid 1px #B3B3B3;
                transition: all 0.2s ease;
                &:after {
                    position: absolute;
                    content: "";
                    width: 10px;
                    height: 10px;
                    top: 50%;
                    right: 1.25em;
                    transform: rotate(45deg) translateY(-50%);
                    border-top: 1px solid #898989;
                    border-right: 1px solid #898989;
                    transition: all 0.2s ease;
                }
                &:hover {
                    background-color: #F5F5F5;
                &:after {
                    right: 1.05em;
                    border-top: 1px solid #333;
                    border-right: 1px solid #333;
                }
            }
        }
        input.datepicker::placeholder {
            opacity: 1;
            color: $color_text;
        }
        .datepicker {
            cursor: pointer;
        }
        }
        .search-submit {
            padding-top: 10px;
            text-align: center;
            .btn-submit {
                display: block;
                width: 100%;
                line-height: 46px;
                color: #fff;
                background: linear-gradient(to right,#96B372 0%,#007589 100%);
            }
        }
    }
}

.modal-wrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    .modal-overlay {
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,.5);
    }
    .modal-inner {
        position: absolute;
        width: 95%;
        max-width: 600px;
        height: 90vh;
        margin: auto;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        background-color: #fff;
        .modal-caption {
            padding: 8px;
            @include font(18);
            text-align: center;
            border-bottom: 1px solid #ccc;
        }
        .modal-close {
            cursor: pointer;
            position: absolute;
            margin: 10px 20px auto auto;
            width: 30px;
            height: 30px;
            right: 0;
            top: 0;
        &:before,&:after {
            position: absolute;
            content: "";
            width: 1px;
            height: 20px;
            margin: auto;
            right: 13px;
            top: 7px;
            background-color: #333;
        }
        &:before {
            transform: rotate(-45deg);
        }
        &:after {
            transform: rotate(45deg);
        }
        }
        .modal-list {
            height: calc(90vh - 50px);
            margin: 0;
            padding: 0;
            overflow-y: scroll;
            overflow-x: hidden;
            .list-item {
                display: block;
                margin: 0;
                padding: 2px 8px;
                button {
                    display: block;
                    width: 100%;
                    padding: 12px 1em;
                    @include font(15);
                    text-align: left;
                    transition: all 0.2s ease;
                    &:hover {
                        font-weight: bold;
                        color: #007589;
                    }
                    &.is-active {
                        font-weight: bold;
                        &:hover {
                        color: inherit;
                        }
                    }
                }
            }
            > .list-item {
                border-bottom: 1px solid #eae4e4;
                > button {
                    &:not(.list-all) {
                        position: relative;
                        &:after {
                        position: absolute;
                        content: "";
                        width: 10px;
                        height: 10px;
                        top: 50%;
                        right: 1.25em;
                        transform: rotate(45deg) translateY(-50%);
                        border-bottom: 1px solid #898989;
                        border-right: 1px solid #898989;
                        transition: all 0.2s ease;
                        }
                    }
                }
            }
            .modal-list-child {
                display: none;
                margin: 5px 8px 15px;
                padding: 0;
                background-color: #F5F5F5;
                .list-item-child {
                    padding: 0;
                &:not(:last-child) {
                    border-bottom: 1px solid #eae4e4;
                }
                button {
                    position: relative;
                        &:after {
                            position: absolute;
                            content: "";
                            width: 10px;
                            height: 10px;
                            top: 50%;
                            right: 1.25em;
                            transform: rotate(45deg) translateY(-50%);
                            border-top: 1px solid #898989;
                            border-right: 1px solid #898989;
                            transition: all 0.2s ease;
                        }
                    }
                }
            }
        }
    }
}



/* =====================
  errors
===================== */
.error {
    color: #ff3860!important;
    &.has-icon {
        box-sizing: border-box;
        &:before {
            padding-right: .25em;
            content: "\f12a";
            font-family: FontAwesome;
        }
    }
}


/* =====================
  maintenance
===================== */
.maintenance {
    padding: 30px 0 60px;
    .intro {
        margin-bottom: 30px;
        h3 {
            padding-bottom: .5em;
            @include font(20);
            border-bottom: 1px solid #ddd;
        }
        p {
            @include font(14);
        }
    }
    .detail {
        padding: .5em 1em;
        border: 1px dashed #eee;
        h4 {
            margin: .25em 0;
            @include font(16);
        }
        p {
            margin-top: 0;
            @include font(14);
        }
    }
}



// functions
@import "functions/_preloader";
